<div class="banner" id="the-banner">
  <%= link_to flats_path, class: "banner-title" do %>
    <h1>Welcome to Simple Er be and bi</h1>
  <% end %>
  <%= link_to "New", new_flat_path, class: "new-button" %>
</div>
